:root {
  --main-font: "Montserrat", sans-serif;
  --second-font: "Libre Baskerville", serif;
  --primary-color: #333333;
  --strong-color: ;
  --special-color: #0083d3;
  --strong-color: #dd71c6;
}

.pink-btn {
  background-color: var(--strong-color);
  width: 13.375rem;
  height: 2.5rem;
  opacity: 1;
  border: none;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  text-align: center;
  color: #f9f9f9f9;
  transition: transform ease-in-out 300ms;
}

.pink-btn:hover {
  transform: scale(1.1);
}

#yellow-btn {
  background-color: #ffd900;
}

@media (max-width: 1024px) {
  .pink-btn {
    margin: auto;
  }
}
